/* GLOBAL */

body {
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

a {
  color: #222;
  display: inline-flex;
  text-decoration: none;
}

ul {
  margin-bottom: 0;
}

/* NAVIGATION */

nav {
  border-bottom: 1px solid #ebebeb;
}

.navbar {
  padding: 1rem 2rem;
}

.navbar-brand {
  font-size: 16px;
}

.nav-link {
  display: inline-flex;
}

.navbar-toggler {
  padding: 0;
  right: 32px;
  width: 16px;
}

.navbar-toggler-icon {
  display: contents;
  width: 15px;
}

.navbar-toggler-icon span {
  display: block;
  background-color: #222;
  height: 2px;
  width: 15px;
}

a:hover {
  color: #008489;
  text-decoration: none;
}

.navbar-brand:hover {
  color: #222;
}

.dropdown-toggle a:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  border: none;
  box-shadow: 0 0 4px 3px #f1f1f1;
  display: none;
  line-height: 32px;
  margin: 0;
  padding: 20px 0;
}

.dropdown-item:hover {
  background-color: white;
  color: #008489;
}

.dropdown-menu ul {
  list-style: none;
  padding-inline-start: 15px;
}

.dropdown-menu ul .nested-list {
  padding-left: 24px;
}

.dropdown-menu ul li .active {
  background-color: white;
  color: #008489;
  font-weight: 600;
}

.dropdown-toggle::after {
  background-image: url('images/down-chevron.png');
  background-position: 0 20px;
  background-size: 16px 16px;
  border: none;
  height: 16px;
  position: relative;
  width: 16px;
}

@media (min-width: 992px) {
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    top: 0;
    width: 280px;
    left: -135px;
  }
}

.input-group-text {
  background: transparent;
  border: none;
}

.form-control {
  border: none;
}

@media (max-width: 992px) {
  .navbar-nav {
    flex-direction: column;
  }

  .nav-item:nth-child(2) {
    order: 3;
  }

  .nav-item:nth-child(3) {
    order: 4;
  }

  .nav-item:nth-child(4) {
    order: 5;
  }

  .nav-item:nth-child(5) {
    order: 6;
  }

  .nav-item:nth-child(6) {
    order: 2;
  }

  .nav-item:nth-child(7) {
    order: 1;
  }

  .navbar-nav .nav-link {
    line-height: 32px;
  }

  .navbar-nav .nav-link img {
    margin-left: 20px;
  }
  .navbar-collapse {
    background-color: white;
    height: 100%;
    left: 0;
    line-height: 40px;
    padding: 60px 24px 80px 24px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
  .navbar-toggler {
    opacity: 1;
    top: 24px;
  }
  .dropdown {
    border: 1px solid #ebebeb;
    height: 48px;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
  }
  .dropdown-toggle {
    width: 100%;
  }
  .dropdown-toggle img {
    margin: 4px 20px;
  }
  .dropdown-toggle::after {
    background-position: 0px 16px;
    margin: 7px 20px;
    position: absolute;
    right: 0;
  }
  .nav-item form {
    border: 1px solid #ebebeb;
    height: 48px;
    margin-top: 20px;
    width: 100%;
  }
  .form-inline .form-control {
    margin-left: 10px;
    width: 84%;
  }
  .mobile-nav-reorder {
    display: flex;
    flex-direction: column-reverse;
  }
}

/* ARTICLES */

article, section {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 80px;
  padding-top: 80px;
}

@media (max-width: 992px) {
  .section {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container {
  padding-left: 120px;
  padding-right: 120px;
  max-width: 1640px;
}

@media (max-width: 992px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.aspectRatioBox {
  background-position: bottom;
  background-size: cover;
  padding-top: calc(2 / 3 * 100%); /* aspect ratio 3:2 */
  width: 100%;
}

.featured {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 a {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 16px;
}

h1 a:hover {
  color: #222;
  text-decoration: underline;
}

p span {
  font-size: 18px;
  line-height: 1.66667;
}

small {
  font-weight: 600;
}

small a {
  color: #008489;
}

small a:hover {
  color: #222;
}

h2 a {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 8px;
  padding-top: 24px;
}

h2 a:hover {
  color: #222;
  text-decoration: underline;
}

.btn {
  background-color: #008489;
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin: 0 auto;
  padding: 24px 48px;
  text-align: center;
}

ul.filter {
  font-size: 18px;
  font-weight: 600;
  position: relative;
  width: 100%;
}

ul.filter li {
  display: inline-block;
  height: 35px;
}

li.active {
  border-bottom: 3px solid #008489;
}

@media (max-width: 992px) {
  ul.filter {
    height: 65px;
    overflow-x: scroll;
    white-space: nowrap;
  }
}

/* FOOTER */

footer {
  padding-bottom: 50px;
  padding-top: 50px;
}

h3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28571;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  footer {
    padding-top: 30px;
  }
  .footer-links {
    display: none;
  }

  footer .t-border {
    border: none;
  }

  footer .container {
    padding-bottom: 0 !important;
  }
}

.footer-links a {
  color: #767676;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.disclaimer {
  font-size: 14px;
  font-weight: 200;
  line-height: 18px;
  margin-bottom: 0;
}

.copyright {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 0;
}

.t-border {
  border-top: 1px solid #ebebeb;
}

.social-links {
  text-align: right;
}

.social-links a {
  color: #767676;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: right;
}

.social-links a i {
  font-size: 20px;
}
